# This file is here entirely for a developer's OS X laptop.
#
# It is what causes:
#
# 1) Install from public npm registry instead of okta's artifactory.
#
# This is necessary to emulate behavior in redocly's
# CI when dev portals are actually installed, built and deployed
cafile=/etc/ssl/cert.pem
registry=https://registry.yarnpkg.com
