x-lifecycle {
  color: #ffffff;
  border-radius: 4px;
  margin-right: 0.28571429rem;
  padding: 0.28571429rem;
  vertical-align: super;
  white-space: nowrap;
}

x-lifecycle.beta {
  background: #ffc61c;
}
x-lifecycle.beta::before {
  content: 'Beta';
}
x-lifecycle.ea {
  background: #8d6e97;
}
x-lifecycle.ea::before {
  content: 'Early Access';
}
x-lifecycle.oie {
  background: #00297a;
}
x-lifecycle.oie::before {
  content: 'Identity Engine';
}
